
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
<!--Bootstrap儀錶板CSS-->
@Styles.Render("~/Content/dashboard-styles.css")
<!--甘特圖CSS-->
@Styles.Render("~/Content/frappe-gantt.css")
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

<body class="sb-nav-fixed" style="background-color:black">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <div class="navbar-brand ps-3" href="index.html" style="color: #ff8404">IPAS生產輔助系統</div>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    </nav>
    <!--側邊欄與主內容Start-->
    <div id="layoutSidenav">

        <!--側邊欄Start-->
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" style="background-color: #ff8404" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="nav-link" href="/Home/Index" style="color:white">
                            <div class="sb-nav-link-icon" style="color:white"><i class="fa-solid fa-house"></i></div>
                            首頁
                        </a>
                        <a class="nav-link" href="/Home/Plan" style="color:white">
                            <div class="sb-nav-link-icon" style="color:white"><i class="fa-brands fa-gitter"></i></div>
                            工作排程
                        </a>

                        <a class="nav-link" href="charts.html" style="color:white">
                            <div class="sb-nav-link-icon" style="color:white"><i class="fas fa-chart-area"></i></div>
                            檔案上傳
                        </a>

                        <a class="nav-link" href="tables.html" style="color:white">
                            <div class="sb-nav-link-icon" style="color:white"><i class="fas fa-table"></i></div>
                            打卡
                        </a>
                    </div>
                </div>

                <div class="sb-sidenav-footer">
                    <div class="small">期末作業:</div>
                    IPAS工業生產輔助
                </div>
            </nav>
        </div>
        <!--側邊欄End-->

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4" style="color: #ff8404">IPAS</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active" style="color: #ff8404">輸入排程，概覽生產流程。</li>
                    </ol>
                    <div class="row">
                        <div class=" col-md-6">
                            <div class="card text-white mb-4" style="background-color:dimgray">
                                <div class="card-body">
                                    <h5 style="color: #ff8404">打卡</h5>
                                    <div style="width: 100%; height: 200px;padding-top:30px;">
                                        <center>
                                            <h1 style="color: #ff8404">
                                                已經打卡
                                            </h1>
                                            <hr>
                                            <h1 style="color: black">
                                                尚未打卡
                                            </h1>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-6">
                            <div class="card text-white mb-4" style="background-color:dimgray">
                                <div class="card-body">
                                    <h5 style="color: #ff8404">完成進度</h5>
                                    <div style="height: 200px; text-align: center;position:relative">
                                        <!--圓弧進度條-->
                                        <h1 id="arc-label" style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 75px; color: #ff8404;">No Data</h1>
                                        <svg id="svg" width="200" height="200" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                            <circle r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                            <circle id="bar" r="90" cx="100" cy="100" fill="transparent" stroke-dasharray="565.48" stroke-dashoffset="0"></circle>
                                        </svg>
                                        <!--圓弧進度條End-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-12">
                            <div class="card text-white mb-4" style="background-color:dimgray">
                                <div class="card-body">
                                    <h5 style="color: #ff8404">檔案清單</h5>
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-12">
                            <div class="card text-white mb-4" style="background-color:dimgray">
                                <div class="card-body">
                                    <h5 style="color: #ff8404">工作排程</h5>
                                    <!--工作排程圖-->
                                    <div id="gantt"></div>
                                    <!--工作排程圖End-->
                                </div>
                            </div>
                        </div>

                        <div class=" col-md-12">
                            <div class="card text-white mb-4" style="background-color:dimgray">
                                <div class="card-body">
                                    <h5 style="color: #ff8404">待辦事項</h5>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </main>
            <!--頁尾Start-->
            <footer class="py-4  mt-auto" style="background-color: #343a40">
                <div class="container-fluid px-4" style="background-color: #343a40">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="" style="background-color: #343a40;color:white">Copyright &copy; 蕭維均 1100336</div>
                    </div>
                </div>
            </footer>
            <!--頁尾End-->
        </div>
    </div>
    <!--側邊欄與主內容End-->
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
@Scripts.Render("~/Scripts/dashboard-script.js")
@Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
<!--引入甘特圖-->
@Scripts.Render("~/Scripts/frappe-gantt.js")
<!--引入SW2跳窗-->
@Scripts.Render("~/Scripts/sweetalert2.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>

<!--圓環統計圖CSS-->
<style>

    #svg circle {
        stroke-dashoffset: 0;
        transition: stroke-dashoffset 1s linear;
        stroke: dimgray;
        stroke-width: 1em;
    }

    #svg #bar {
        stroke: #ff8404;
    }

    #cont {
        display: block;
        height: 200px;
        width: 200px;
        margin: 2em auto;
        box-shadow: 0 0 1em black;
        border-radius: 100%;
        position: relative;
    }

        #cont:after {
            position: absolute;
            display: block;
            height: 160px;
            width: 160px;
            left: 50%;
            top: 50%;
            box-shadow: inset 0 0 1em black;
            content: attr(data-pct)"%";
            margin-top: -80px;
            margin-left: -80px;
            border-radius: 100%;
            line-height: 160px;
            font-size: 2em;
            text-shadow: 0 0 0.5em black;
        }
    /* Make things perty */

    #svg {
        text-align: center;
    }


    input {
        border: 1px solid #666;
        background: #333;
        color: #fff;
        padding: 0.5em;
        box-shadow: none;
        outline: none !important;
        margin: 1em auto;
        text-align: center;
    }
</style>

<!--圓環統計圖JS-->
<script>
    function arcProgressBar() {
        var val = 60;
        var $circle = $('#svg #bar');
        $("#arc-label").html(val + "%");

        if (isNaN(val)) {
            val = 100;
        }
        else {
            var r = $circle.attr('r');
            var c = Math.PI * (r * 2);

            if (val < 0) { val = 0; }
            if (val > 100) { val = 100; }

            var pct = ((100 - val) / 100) * c;

            $circle.css({ strokeDashoffset: pct });

            $('#cont').attr('data-pct', val);
        }
    }

</script>

<!--甘特圖任務-->
<script>
    var gantt;
    var tasks = []
</script>

<!--取得目前工作列表-->
<script>
    function getTasksData() {
        $.ajax({
            method: "GET",
            url: "/API/getTaskInfo",
            data: {},
            statusCode: {
                404: function (err) {
                    console.error(err)
                },
                500: function (err) {
                    console.error(err)
                },
            }
        })
            .done(function (msg) {
                tasks = []
                let tasksTemp = JSON.parse(msg.data)
                for (i = 0; i < tasksTemp.length; i++) {
                    let elementTask = {
                        id: "task" + i,
                        name: tasksTemp[i].taskName,
                        start: tasksTemp[i].startTime,
                        end: tasksTemp[i].endTime,
                        progress: (tasksTemp[i].finishedNumber / tasksTemp[i].needNumber) * 100,
                        custom_class: 'class' + i
                    }
                    tasks.push(elementTask);
                }
                gantt = new Gantt("#gantt", tasks);
                gantt.change_view_mode('Month')
                //'Day', 'Week', 'Month'
            });
    }
</script>

<!--JS主函數-->
<script>
    $(function () {
        //取得資料
        getTasksData()
        arcProgressBar()
    });
</script>

